* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontColor: rgb(251, 211, 195);
}

body {
  background-color: rgb(22, 22, 22);
}

.nav-wrapper {
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 0 70px;
  background-color: rgb(255, 133, 27);
  border-bottom: 5px solid rgb(251, 211, 195);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.nav-wrapper h1 {
  color: var(--fontColor);
}

.title-wrapper h1 {
  font-family: "Redressed", cursive;
  font-size: 1.7em;
}

.name-wrapper h1 {
  font-size: 1em;
  font-family: "Playfair Display", serif;
}

.content-wrapper {
  position: absolute;
  top: 70px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photo-wrapper {
  height: 300px;
  width: 300px;
  /* border: 2px solid wheat; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.photo-wrapper:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.3s;
}

.photo-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.slider-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: none;
  justify-content: space-between;
}

.slider-photo-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.arrow-wrapper {
  /* border: 3px solid black; */
  width: 10vw;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.slider-photo-wrapper {
  /* border: 3px solid red; */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.arrow-left img {
  max-width: 100%;
  opacity: 0.1;
  transition: 0.3s;
}

.arrow-right img {
  max-width: 100%;
  transform: rotateY(180deg);
  opacity: 0.1;
  transition: 0.3s;
}

.arrow-wrapper img:hover {
  opacity: 1;
  transition: 0.3s;
}
